* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.carousel {
  margin: 7px auto;
  width: 90%;
  border: none;
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: rot 15s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 5em;
  height: 3em;
  padding: 1em;
  background: white;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
}

@keyframes rot {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.texti {
  width: 100%;
  background: url(../image/novalendImage.jpg) center/cover no-repeat;
}
