* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.hero_section {
  position: relative;
  height: 80vh;
  width: 100%;
  background: url(../image/Image_fx.jpg) center/cover no-repeat;
}
.hero_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.7)
  );
}

.herosection_text {
  position: absolute; /* Important: absolute, not relative */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thrid_sectionText {
  position: relative;
  z-index: 2;
  color: black;
  text-align: center;
}
